<div class="container">
    <h1>{{sectionTitle}}</h1>
    <h3>{{sectionSubtitle}}</h3>
    <h5 *ngIf="!sectionDescription != null">{{sectionDescription}}</h5>
    <p-accordion [activeIndex]="index" [multiple]="true">
        <div *ngFor="let content of contents">
            <p-accordionTab>
                <p-header>
                    {{content.contentTitle}}
                    <i id="{{content.contentOrder}}" class="{{buttonClass}}"></i>
                </p-header>
                <p [innerHTML]="content.contentText"></p>
            </p-accordionTab>
        </div>
    </p-accordion>
</div>