h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0px 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

body {
    background-color: #F7F7F9 !important;
}

a {
    color: #5ea2ba;
}

a:hover {
    color: #5ea2ba;
    text-decoration: none;
}

a:focus {
    color: #5ea2ba;
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.1em;
    font-weight: 300 !important;
}

p ul{
    list-style-type: none;
    padding-left: 0px;
}

b {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.textContent{
    margin: 15px;
}

.card {
    margin: 5px;
    border-color: #5EA2BA;
}

.container {
    padding-top: 15%;
}

[aria-expanded=true] i:before{
    content: "\f056";
}

.collapsed{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.headLink{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.textContent a{
    color: #5ea2ba;
    position: relative;
    cursor: pointer;
}

.textContent a:hover{
    color: #000000;
    text-decoration: none;
}

.textContent a:hover:after{
    width: 100%;
}

.textContent a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #5ea2ba;
    transition: 0.3s;
}

.textContent img{
    margin-bottom: 10px;
}