@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100');

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0px 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

b {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.card {
    margin-bottom: 5px;
    border-color: #5EA2BA;
}

.container {
    padding-top: 15%;
}

a {
    color: #5EA2BA;
}

a:hover {
    color: #5EA2BA;
    text-decoration: none;
}

a:focus {
    color: #5EA2BA;
    text-decoration: none;
}

[aria-expanded=true] i:before{
    content: "\f056";
}

.textContent{
    margin: 15px;
}

.textContent /deep/ img{
    margin: 0;
    max-width: 100%;
}


.textContent /deep/ a{
    display: inline-block;
    color: #5ea2ba;
}
.textContent /deep/ a:hover{
    color:#000000;
    text-decoration:none;
}

.textContent /deep/ a:after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: all .3s ease;
    border-bottom: 1px solid #5ea2ba;
    padding-top: 1px;
}

.textContent /deep/ a:hover:after{
    width: 100%;
}

.textContent /deep/ .fotoFamilia{
    text-align: center;
} 

.textContent /deep/ .ganadores{
    max-width: 100%; 
    height: auto;
} 
.textContent /deep/ .ganadoresInline{
    display: inline-table; 
    width: 50%; 
    padding: 20px; 
}
.textContent /deep/ .fotoGanadores{
    max-width: 100%; 
    height: auto; 
    text-align: center;
    margin-bottom: 10px;
}  
.textContent /deep/ .premio{
    text-align: left; 
    font-weight: bold;
} 


.textContent /deep/ .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.textContent /deep/ .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.textContent /deep/ .seccionAplicaciones ul {
    width: 100%;
    clear: both;
    border-bottom: solid 1px #76a1b8;
    display: inline-block;
    padding: 0;
}

.textContent /deep/ .seccionAplicacionesIconos li {
    padding: 15px;
    float: left;
    display: inline-block;
}
.textContent /deep/ .seccionAplicacionesIconos li .cont {
    width: 800px;
}

.textContent /deep/ .logoKampal {
    display: inline-block;
}

.textContent /deep/ .logos {
    max-width: 787px;
    width: 100%;
    height: auto;
}

.textContent /deep/ .tresLogosInlinePeque {
    display: inline-block;
    width: 25%;
    padding: 1%;
    vertical-align: middle;
}

.textContent /deep/ .dosLogosInline {
    display: inline-block;
    width: 47%;
    padding: 1%;
    vertical-align: middle;
}