<div class="container">
	<h1>EVENTOS</h1>
	<div id="accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<div class="card-header" (click)="getChildren('#headingOne')" role="tab" id="headingOne">
					<h5 class="mb-0">
						JACATHON ARAGÓN OPEN DATA
						<i class="fa fa-plus-circle" id="informacion_content_3_i"></i>
					</h5>
				</div>
			</a>
			<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="card-block" style="text-align: justify;">
					<h3>Jacathon Aragón Open Data</h3>
					<h3>Gracias por participar!</h3>
					<p>
						Muchas gracias a todos por participar en el Jacathon de Aragón Open Data! Hemos contado con 43 inscritos que han formado
						13 equipos de desarrollo que finalmente han presentado 11 propuestas basadas en los datos de Aragón Open Data. Las
						aplicaciones presentadas han tenido una gran calidad y originalidad, pero por encima de todo eso quedan los tres días
						de convivencia que nos han ayudado a conocernos y a entender los requerimientos que tienen los reutilizadores de los
						datos y las dificultades del propio proceso de apertura. Esta es la familia del Jacathon de Aragón Open Data.
					</p>
					<p>
						Tras la filosofía de Datos Abiertos se encuentra también la necesidad de dotar de mayor transparencia al conjunto de las
						Administraciones Públicas y por eso esta iniciativa está ligada a las políticas de Gobierno Abierto. De esta manera,
						la publicación de los datos que "poseen las Administraciones en formatos abiertos es la mejor forma de generar confianza
						en las instituciones, gracias tanto a la "transparencia que esto aporta al sistema", como a la exposición pública del
						trabajo en el que se invierten los recursos públicos.
					</p>
					<p>
						La filosofía de trabajo Open Data se está convirtiendo en una realidad de forma acelerada. Aunque los principios sobre los
						que se asienta no son novedosos, el desarrollo de la informática y las TIC ha permitido la explosión de los datos gracias
						a la reducción de costes y de tiempos en su publicación y sociabilización, por eso la apertura de datos está alcanzando
						tal atención e importancia en estos momentos.
					</p>
					<p style="text-align: center;">
						<img src="../../../../assets/events/fotofamilia.jpg" />
					</p>
					<h3>Ganadores:</h3>
					<p>
						Los ganadores de los premios del Jacathon Aragón Open Data son:
					</p>
					<div class="ui-g">
						<div class="ui-sm-12 ui-md-6">
							<p>
								<img src="../../../../assets/events/PoolParty.jpg" /><br/>
								<b>Premio “Jacathon Aragón Open Data”:</b><br/> “Visual AragoPedia”, del equipo PoolParty, formado por:
							</p>
							<ul>
								<li>Rafa García Ortega</li>
								<li>Beatriz Martínez Martínez</li>
								<li>Fernando Blat Peris</li>
							</ul>
						</div>
						<div class="ui-sm-12 ui-md-6">
							<p>
								<img src="../../../../assets/events/DEVTA.jpg" /><br/>
								<b>Premio “Jacathon Aragón Open Data”:</b><br/> “Buscador-visualizador territorial de información”, del equipo DEVTA,
								formado por:
							</p>
							<ul>
								<li>Tania Escudero Fernández</li>
								<li>Alejandro Fernández Carrera</li>
							</ul>
						</div>
						<div class="ui-sm-12 ui-md-6">
							<p>
								<img src="../../../../assets/events/JodoCoders.jpg" /><br/>
								<b>Premio “Votación de los Participantes” e “Idea más novedosa”:</b><br/> “CRAs Aragón”, del equipo JodoCoders, formado
								por:
							</p>
							<ul>
								<li>Javier Rubio Rubio</li>
								<li>Dani Latorre Velilla</li>
								<li>Jesús Barón Rodríguez</li>
								<li>Rafael Ramos Guallar</li>
							</ul>
						</div>
						<div class="ui-sm-12 ui-md-6">
							<p>
								<img src="../../../../assets/events/Huracan.jpg" /><br/>
								<b>Premio “Idea de Negocio”:</b><br/> “Aragón Open Trails”, del equipo Huracán, formado por:
							</p>
							<ul>
								<li>Carlos Matallín Civera</li>
								<li>Gonzalo Izquierdo Gracia</li>
								<li>Luís Bosque</li>
								<li>Sergio Rubio Gracia</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>