.container{
    padding-top: 15%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.card {
    margin: 5px;
}

a {
    color: #5EA2BA;
}

a:hover {
    color: #5EA2BA;
}

a:focus {
    color: #5EA2BA;
}