<div class="container">
  <h1>{{org.title}}</h1>
  <div class="ui-g details">
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.NAME</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{org.title}}</p>
    </div>
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.WEBPAGE</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{webpage || ('NOT_AVAILABLE' | translate)}}</p>
    </div>
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.DESCRIPTION</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{org.description || ('NOT_AVAILABLE' | translate)}}</p>
    </div>
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.ADDRESS</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{address || ('NOT_AVAILABLE' | translate)}}</p>
    </div>
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.PERSON</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{person || ('NOT_AVAILABLE' | translate)}}</p>
    </div>
    <div class="ui-g-6">
      <h6><b translate>ORG_DETAIL.EMAIL</b></h6>
    </div>
    <div class="ui-g-6">
      <p>{{email || ('NOT_AVAILABLE' | translate)}}</p>
    </div>
  </div>
  <p-dataTable [value]="datasets" [responsive]="true" #dt>
    <p-column field="name" header="{{numDatasets}} {{ 'ORG_DETAIL.FOUND_DATASETS' | translate }}" [sortable]="true">
        <ng-template pTemplate="body" let-dataset="rowData">
            <a routerLink='../../datasetdetail' (click)="showDataset(dataset)">
                {{dataset.title}}
            </a>
        </ng-template>
    </p-column>
    <p-column field="accesos" header="{{ 'ORG_DETAIL.TRACKING' | translate }}" [style]="{'width':'160px'}" [sortable]="true">
        <ng-template pTemplate="body" let-dataset="rowData">
            {{dataset.tracking_summary.total}}
        </ng-template>
    </p-column>
    <p-column field="lastUpdate" header="{{ 'ORG_DETAIL.LAST_UPDATE' | translate }}" [style]="{'width':'220px'}" [sortable]="true">
        <ng-template pTemplate="body" let-dataset="rowData">
            {{dataset.metadata_modified | date: 'dd/MM/yyyy'}}
        </ng-template>
    </p-column>
  </p-dataTable>
  <p-paginator rows="20" totalRecords="{{numDatasets}}" (onPageChange)="paginate($event)"></p-paginator>

  <div class="nota">
    <p>
      <i class="fa fa-star" id="informacion_content_3_i" style="color: #5ea2ba;"></i>
      {{ 'LAST_DAYS_HITS' | translate:param }}
    </p>
  </div>
</div>
