<div class="iframeTableCollaboration">
    <h1>Colabora ¿qué datos te gustaría reutilizar?</h1>
    <p>
        Desde el apartado
        <a href="https://aragon.uservoice.com/forums/192552-datos-que-me-gustar%C3%ADa-reutilizar" target="_blank">Colabora</a> puedes sugerir qué datos y recursos te gustaría que se incluyeran en Aragón Open Data. Las peticiones
        será analizadas, respondidas y se intentará dar respuesta mediante la apertura de nuevos datos en formatos abiertos
        en Aragón Open data.
    </p>
    <a href="https://aragon.uservoice.com/forums/192552-datos-que-me-gustar%C3%ADa-reutilizar" target="_blank">
        <img src="{{imgSrc}}" width="100%">
    </a>
</div>