<div style="padding: 2%;">
  <p-dataTable [value]="users" [paginator]="true" rows="15" [responsive]="true">
    <p-column field="username" header="Nombre" [sortable]="true"></p-column>
    <p-column field="role" header="Rol" [sortable]="true"></p-column>
    <p-column field="singupDate" header="Fecha alta" [sortable]="true"></p-column>
    <p-column field="active" header="Activo" [sortable]="true"></p-column>
    <p-column header="Edición">
      <ng-template pTemplate="body" let-user="rowData">
        <button pButton type="button" icon="fa-search" (click)="showDialog(user, false)"></button>
        <button pButton type="button" icon="fa-edit" (click)="showDialog(user, true)"></button>
        <button pButton type="button" icon="fa-trash"></button>
      </ng-template>
    </p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Añadir"></button>
      </div>
    </p-footer>
  </p-dataTable>
</div>

<p-dialog header="Detalles del usuario" appendTo="body" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="1000">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user" style="font-size:16px; padding:20px;">
    <div class="ui-grid-row" style="text-align: center; margin-bottom: 2%;">
      <div class="ui-grid-col-12">
        <img src="../../../../../assets/logoDGA.png" width="170px" height="40px">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-5"><b>Nombre: </b></div>
      <div class="ui-grid-col-7">{{user.username}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-5"><b>Rol: </b></div>
      <div class="ui-grid-col-7">{{user.role}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-5"><b>Fecha de alta: </b></div>
      <div class="ui-grid-col-7">{{user.singupDate}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-5"><b>Activo: </b></div>
      <div class="ui-grid-col-7">{{user.active}}</div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-edit" (click)="enableEdition()" label="Editar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog appendTo="body" header="Detalles de usuario" [(visible)]="displayDialogEdit" [responsive]="true" showEffect="fade" modal="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
    <div class="ui-grid-row" style="padding: 5px;">
      <div class="ui-grid-col-4"><label for="username">Nombre de usuario</label></div>
      <div class="ui-grid-col-8"><input pInputText id="username" [(ngModel)]="user.username" /></div>
    </div>
    <div class="ui-grid-row" style="padding: 5px;">
      <div class="ui-grid-col-4"><label>Rol</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown [style]="{'width':'220px'}" appendTo="body" [options]="selectRoles" [(ngModel)]="selectedRole"></p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row" style="padding: 5px;">
      <div class="ui-grid-col-4"><label>Fecha de alta</label></div>
      <div class="ui-grid-col-8">
        <p-calendar appendTo="body" [(ngModel)]="user.singupDate" [locale]="es" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
      </div>
    </div>
    <div class="ui-grid-row" style="padding: 5px;">
      <div class="ui-grid-col-4"><label>Activo</label></div>
      <div class="ui-grid-col-8">
        <p-inputSwitch onLabel="Sí" offLabel="No" [(ngModel)]="user.active"></p-inputSwitch>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>