.iframeAnalytics{
    padding:0px;
    margin:0 auto;
    max-width: 80vw;
    min-width: 320px;
    height:auto;
    margin-top: 5%;
}

.iframeAnalytics #analytics{
    width: 100%;
    height: 2210px;
}

.iframeAnalytics #sevendays{
    width: 100%;
    height: 300px;
}

.iframeAnalytics .export{
    width: 100%;
    min-height: 25px;
    margin-bottom: 50px;
    font-size: 14px;
    margin-left: -1%;
}

.iframeAnalytics .json{
    margin-right: 10px;
}

.pagina {
    max-width: 80vw;
    min-width: 320px;
    margin: auto;
    padding-right: 0px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #594C4F
}

.headerSeparator {
    margin-top: 15%;
}

.panel-export-title {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    display: inline-block;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.7%;
    color: #7b8a8b;
}

.export {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.export a {
    cursor: pointer;
    color: #0079a5;
    background-color: transparent;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-right: 2px;
}

.export ul {
    list-style: none;
}

.export ul li{
    margin-top: 6px;
}