<div class="headerSeparator"></div>
<div class="pagina">
	<h1>Open Analytics Data</h1>
	<div>
		Open Analytics Data ofrece algunas estadísticas de uso de los portales más importantes del Gobierno de Aragón. Este servicio
		ofrece de manera pública los datos más útiles en cuanto a la interacción de la ciudadanía con las páginas webs institucionales
		del Gobierno de Aragón y aporta de manera sencilla su uso, acceso e impacto, además también estos datos están disponibles
		mediante todo el potencial de los datos abiertos,
	</div>
</div>
<div class="iframeAnalytics">
	<div class="btn-group float-left" id="btng-portal-analytics">
		<button type="button" class="btn btn-primary dropdown-toggle portalAnalyticsPral" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Todos
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<button class="dropdown-item portalAnalytics" value="Todos">Todos</button>
			</li>
			<div class="dropdown-divider"></div>
			<li *ngFor="let logstash of logstashs">
				<button class="dropdown-item portalAnalytics" value="{{ logstash.url }}">{{ logstash.portal_name }}</button>
			</li>
		</ul>
	</div>
	<div class="btn-group float-right" id="btng-time-analytics">
		<button type="button" value="1" class="btn btn-primary timeAnalytics">Hoy</button>
		<button type="button" value="7" class="btn btn-primary timeAnalytics">7 Días</button>
		<button type="button" value="30" class="btn btn-primary timeAnalytics">30 Días</button>
		<button type="button" value="90" class="btn btn-primary timeAnalytics active">90 Días</button>
	</div>
	<iframe id="sevendays" src="http://172.27.38.119:7030/elastic/app/kibana#/dashboard/6b50d7f0-e589-11e7-bac3-69701294f3ab?embed=true&_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A1340'%2Cdisplay%3A'1%20day'%2Cpause%3A!f%2Csection%3A3%2Cvalue%3A86400000)%2Ctime%3A(from%3Anow-30d%2Cmode%3Aquick%2Cto%3Anow))" marginwidth=0 marginheight=0 frameborder=0 width=100% scrolling="no" ></iframe>
	<iframe width=100% height=100% scrolling="no" id="analytics" marginwidth=0 marginheight=0 frameborder=0 src=""></iframe>
</div>