.iframeAnalytics{
    padding:0px;
    margin:0 auto;
    max-width: 80vw;
    min-width: 320px;
    height:auto;
    margin-top: 5%;
}

.iframeAnalytics #analytics{
    width: 100%;
    height: 2200px;
}

.iframeAnalytics #sevendays{
    width: 100%;
    height: 300px;
}

.pagina {
    max-width: 80vw;
    min-width: 320px;
    margin: auto;
    padding-right: 0px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    color: #594C4F
}

.headerSeparator {
    margin-top: 15%;
}