<div class="headerSeparator"></div>
<div class="pagina">
	<h1>Open Analytics Data</h1>
	<div>
		Open Analytics Data ofrece algunas estadísticas de uso de los portales más importantes del Gobierno de Aragón. Este servicio
		ofrece de manera pública los datos más útiles en cuanto a la interacción de la ciudadanía con las páginas webs institucionales
		del Gobierno de Aragón y aporta de manera sencilla su uso, acceso e impacto, además también estos datos están disponibles
		mediante todo el potencial de los datos abiertos.
	</div>
</div>
<div class="iframeAnalytics">
	<div class="btn-group float-left" id="btng-portal-analytics">
		<button type="button" class="btn btn-primary dropdown-toggle portalAnalyticsPral" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="false">
			Todos
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<button class="dropdown-item portalAnalytics" value="Todos">Todos</button>
			</li>
			<div class="dropdown-divider"></div>
			<li *ngFor="let logstash of logstashs">
				<button class="dropdown-item portalAnalytics" value="{{ logstash.url }}">{{ logstash.portal_name }}</button>
			</li>
		</ul>
	</div>
	<div class="btn-group float-right" id="btng-time-analytics">
		<button type="button" class="btn btn-primary dropdown-toggle timeAnalyticsPral" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="false">
			30 días
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<button class="dropdown-item timeAnalytics" value="1">Hoy</button>
			</li>
			<li>
				<button class="dropdown-item timeAnalytics" value="7">7 días</button>
			</li>
			<li>
				<button class="dropdown-item timeAnalytics" value="15">15 días</button>
			</li>
			<li>
				<button class="dropdown-item timeAnalytics" value="30">30 días</button>
			</li>
		</ul>
	</div>
	<iframe id="sevendays" src="" marginwidth=0 marginheight=0 frameborder=0 scrolling="no"></iframe>
	<iframe id="analytics" src="" marginwidth=0 marginheight=0 frameborder=0 scrolling="no"></iframe>
	<div class="pagina">
		<span class="panel-export-title">
			Descarga de datos abiertos
		</span>
		<div class="export">
			Páginas más vistas:
			<a class="pages csv" href="">csv</a>
			<a class="pages json" href="">json</a>
			Navegadores:
			<a class="browsers csv" href="">csv</a>
			<a class="browsers json" href="">json</a>
			Archivos descargados:
			<a class="files csv" href="">csv</a>
			<a class="files json" href="">json</a>
			Geolocalización:
			<a class="countries csv" href="">csv</a>
			<a class="countries json" href="">json</a>
		</div>
	</div>
</div>