

.btnSearch {
    background: transparent;
    color: #5EA2BA;
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 5vw;
    height: 15vh;
    width: 10%;
    border-bottom: 1px solid #5EA2BA;
    text-align: center;
    vertical-align: middle;
  }
  
  .buscador {
      display: block;
      margin-bottom: 30px;
  }
  
  .search {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
    top: 15%;
    left: 0;
    z-index: 1;
  }
  
  .search-result a:hover {
    color: white;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    background: #5ea2ba;
    border-color: #5ea2ba;
  }
  .search-result a{
    display: list-item;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 1px white;
    border: 1px solid transparent;
    background: white;
  }
  
  #search-box{
    width: 200px;
    height: 20px;
  }
  
  
  .textBox {
    color: #5EA2BA;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5EA2BA;
    height: 15vh;
    width: 90%;
    font-size: 60px;
    padding-right: 10%;
    text-transform:uppercase;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 78%;
    top: 22%;
    left: 0;
    z-index: -1;
  }
  
  .textBox:focus {
    outline: none;
  }
  
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #5EA2BA;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #5EA2BA;
   opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #5EA2BA;
   opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #5EA2BA;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #5EA2BA;
  }
  