.marginsup{
    margin-top: 20vh;
}

.firstTitle {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoLight', sans-serif;
    line-height: 1;
    margin: 20px 0 0 0;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

.tags {
    border: 1px solid #7391a5;
	padding: 10px;
	color: #3b515c !important;
	background-color: #FFFFFF;
	text-decoration: none  !important;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px;
}

.divcurso{
	color: #fff;
	display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #5ea1b9;
    padding: 0.5rem 0.75rem;
	font-size: 1.9rem;
    text-transform: uppercase;
    line-height: 1.25;
    border-radius: 0.25rem;
	transition: all 0.15s ease-in-out;
	cursor:pointer;
	-webkit-box-shadow: 0px 1px 9px #666666;
	-moz-box-shadow: 0px 1px 9px #666666;
	box-shadow: 0px 1px 9px #666666;
	background: #5ea1b9;
 
}

.divcurso:hover {
	/*background: #ffffff;
	 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);	color : #5ea1b9;	border: 1px solid #5ea1b9; */
	-webkit-box-shadow: 0px 8px 16px #666666;
	-moz-box-shadow: 0px 8px 16px  #666666;
	box-shadow: 0px 8px 16px  #666666;


  }