<div class="container">
  <h1>Aplicaciones</h1>
  <h4>Estas son las aplicaciones que reutilizan nuestros datos</h4>
  <ul class="list-group">
    <div class="ui-g-12">
      <li class="list-group-item">
        <div class="ui-g-2">
          <img src="../../../../assets/apps/logoAppAragopedia.png"/>
        </div>
        <div class="ui-g-10">
          <h5>AragoPedia</h5>
          <p>
            Los datos abiertos de Aragón Open Data trabajados para que puedas verlos por territorios. 
            Aquí tienes los datos de tu municipio y de tu comarca para que puedas consultarlos y saber 
            las principales informaciones de la población en la que vives o en la que has nacido.
          </p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ui-g-2">
          <img src="../../../../assets/apps/logoAppPresupuestos.png"/>
        </div>
        <div class="ui-g-10">
          <h5>Visualización de presupuestos</h5>
          <p>
            ¿Cómo y en qué gastan las Administraciones de Aragón? Con esta aplicación te mostramos 
            de un modo claro y visual cómo se distribuyen los presupuestos autonómicos y locales. 
            De dónde vienen los ingresos y a qué se destina el gasto para que puedas comprobar en 
            qué se gasta el dinero de tus impuestos.
          </p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ui-g-2">
          <img src="../../../../assets/apps/logoAppOpenSocialData.png"/>
        </div>
        <div class="ui-g-10">
          <h5>Open Social Data</h5>
          <p>
            Si quieres saber lo que se cuenta de Aragón, mediante esta aplicación podrás acceder a toda su conversación. 
            Te ofrecemos la información existente en las redes sociales sobre Aragón de forma ordenada para que puedas 
            conocer de primera mano los temas que te importan.
          </p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ui-g-2">
          <img src="../../../../assets/apps/logoAppBOA.png"/>
        </div>
        <div class="ui-g-10">
          <h5>BOA Boletín Oficial de Aragón</h5>
          <p>
            El Boletín Oficial de Aragón (BOA) es el diario oficial de la Comunidad Autónoma de Aragón, 
            a través del cual se hacen públicos los documentos que, en virtud de los principios constitucionales 
            de publicidad de las normas y de seguridad jurídica, deben ser objeto de publicidad oficial. Ahora 
            puedes consultarlo en abierto.
          </p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ui-g-2">
          <img src="../../../../assets/apps/BICAragon-Naranja.png"/>
        </div>
        <div class="ui-g-10">
          <h5>Mapa de los Bienes Culturales de Aragón</h5>
          <p>
            El mapa con los Bienes Culturales de Aragón forma parte del proyecto Aragón en la mano, 
            que está siendo desarrollado, en el área de Ciencias Sociales, por los alumnos de tercer 
            curso de Educación Secundaria Obligatoria del colegio Santa María del Pilar de Zaragoza.
          </p>
        </div>
      </li>
    </div>
  </ul>
</div>