
a {
    color: #5ea2ba;
}

a:hover {
    color: #5ea2ba;
    text-decoration: none;
}

a:focus {
    color: #5ea2ba;
    text-decoration: none;
}

.textContent {
    margin: 15px;
}

.textContent /deep/ ul{
    list-style-type: none;
    padding-left: 0px;
}

.card {
    margin-bottom: 5px;
    border-color: #5EA2BA;
}

.card-header{
    background-color: #ffffff;
}

.container {
    padding-top: 15%;
}

[aria-expanded=true] i:before{
    content: "\f056";
}
.textContent /deep/ a{
    color: #5ea2ba;
    position: relative;
    cursor: pointer;
}

.textContent /deep/ a:hover{
color: #000000;
text-decoration: none;
}

.textContent /deep/ a:hover:after{
width: 100%;
}

.textContent /deep/ a:after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0%;
border-bottom: 1px solid #5ea2ba;
transition: 0.3s;
}

.textContent /deep/ pre {
font-family: monospace, monospace;
background-color: #F5F5F5;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 4px;
display: block;
white-space: pre-wrap;
padding: 10px;
}

.textContent /deep/ .titularesPeques{
    color: #000000;
    font-weight: bold;
}