h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 300;
}

b {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.card {
    margin: 5px;
    border-color: #5EA2BA;
}

.container {
    padding-top: 15%;
}

a {
    color: #5EA2BA;
}

a:hover {
    color: #5EA2BA;
    text-decoration: none;
}

a:focus {
    color: #5EA2BA;
    text-decoration: none;
}

[aria-expanded=true] i:before{
    content: "\f056";
}

.collapsed{
font-weight: 300;
font-size: 30px;
letter-spacing: 0.1em;
}

.headLink{
font-weight: 300;
font-size: 30px;
letter-spacing: 0.1em;
} 
