<div class="container" *ngIf="errorTitle">
    <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-xs-3">
                <i class="fas fa-exclamation-triangle fa-5x" style="margin:15px;color: #5ea2ba;"></i>
            </div>
            <div class="col-xs-9">
                <h1>{{errorTitle}}</h1>
                <h2>{{errorMessage}}</h2>
                <a class="mail" href="mailto:opendata@aragon.es">
                    <h2>
                        <i class="far fa-envelope"></i> Contactar con el Administrador</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p-dataTable [paginator]="true" [rows]="10" [value]="speakers" emptyMessage="{{emptyMessage}}">
        <p-column field="name" [style]="{'width':'55%'}" header="Lista de ponentes"></p-column>
        <p-column header="edit" header="Edición" [style]="{'width':'6%', 'text-align': 'center'}">
            <ng-template pTemplate="body" let-speaker="rowData">
                <button class="btn btn-primary p-2" type="button" (click)="showDialog(speaker)" data-toggle="tooltip" data-placement="top"
                    title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
            </ng-template>
        </p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button class="btn btn-primary" type="button" icon="fas fa-plus" (click)="addSpeaker()" style="float:left">
                    <i class="fas fa-plus"></i> Añade un ponente nuevo
                </button>
            </div>
        </p-footer>
    </p-dataTable>
</div>
<p-dialog [width]="900" [(visible)]="display">
    <p-header>{{selectedSpeaker ? selectedSpeaker.name : 'Nuevo ponente'}}</p-header>
    <div class="container">
        <p class="col-12">Los campos marcados con '*' son obligatorios.</p>
        <div class="form-group row">
            <label class="col-4 col-form-label">Nombre del ponente*</label>
            <div class="col-8">
                <input class="form-control" type="text" value="{{selectedSpeaker.name}}" id="name" [(ngModel)]="selectedSpeaker.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Descripción</label>
            <div class="col-8">
                <textarea style="width: 100%; height: 100px;" type="text" value="{{selectedSpeaker.description}}" id="desc" [(ngModel)]="selectedSpeaker.description"></textarea>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="far fa-save" (click)="save(selectedSpeaker);" label="Guardar"></button>
        <button type="button" pButton icon="fas fa-times" style="background-color: red; border-color: red;" (click)="cancel();"
            label="Cancelar"></button>
    </p-footer>
</p-dialog>
<p-growl [(value)]="messages"></p-growl>