.marginsup{
    margin-top: 20vh;
}

.background{
    background-color: #f1f1f1;
    padding-bottom: 10px;
}

.textContent{
    padding-top: 30px;
}

.container-fluid{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

:host ::ng-deep h2 { 
    font-size: 60px;
    margin-top: 30px !important;
}

:host ::ng-deep a { 
    transition: color 150ms ease;
    color: #5ea2ba !important;

}

:host ::ng-deep a:hover { 
    color: #3b515c !important;
    text-decoration: none;
    
}

.container {
    margin-top: 20vh;
    max-width: 80vw;
}