<app-header></app-header>
<div class="pageNotFound">
	<div class="messageError">
		<h1>Oooops, tenemos un problema...</h1>
	</div>
	<div class="codeError">
		404 - No encontrado
	</div>
</div>
<div class="videoPlayer">
	<iframe height='100%' width='100%' scrolling='no' src="https://www.youtube.com/embed/lhICl882xLA?autoplay=1&loop=1&playlist=lhICl882xLA&autohide=1&rel=0&showinfo=0&controls=0&fs=0"
	 frameborder="0" allowfullscreen></iframe>
</div>
<div class="opendataSearch">
	<h2>
		El Sr. Lobo recomienda que busques aquí para acceder a un contenido correcto
	</h2>
	<form>
		<input type="search" placeholder="Busca datos abiertos" class="textBox">
		<button type="submit" class="btnSearch">
      <i aria-hidden="true" class="fa fa-search" style="display: table; vertical-align: middle;"></i>
    </button>
	</form>
</div>
<app-footer></app-footer>