.contentDescription {
    display: block !important;
    height: 60px !important;
    max-height: 80px !important;
    overflow: hidden !important;
    text-align: justify !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important; 
}