<div class="container">
		<div class="dtHeader row">
				<h1 class="globaltitle col-10">{{org.title}}</h1>
				<div class="social col-2">
					<a href="{{routerLinkFacebookShare}}" target="_blank" title="Compartir en Facebook">
						<img src="../../../../../assets/social/facebookIcon.png" alt="Facebook">
					</a>
					<a href="{{routerLinkTwitterShare}}" target="_blank" title="Compartir en Twitter">
						<img src="../../../../../assets/social/twitterIcon.png" alt="Twitter">
					</a>
					<a href="{{routerLinkGooglePlusShare}}" target="_blank" title="Compartir en Google Plus">
						<img src="../../../../../assets/social/googlePlusIcon.png" alt="Google Plus">
					</a>
				</div>
			</div>
	<div class="ui-g details">
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.NAME</b></h6>
			<p>{{org.title}}</p>
		</div>		
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.WEBPAGE</b></h6>
			<div *ngIf="webpage; else NOT_AVAILABLE">
				<p><a href="{{webpage}}">{{webpage}}</a></p>
			</div>
			<div *ngIf="!webpage">
				<p>{{('NOT_AVAILABLE' | translate)}}</p>
			</div>
		</div>		
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.DESCRIPTION</b></h6>
			<p>{{org.description || ('NOT_AVAILABLE' | translate)}}</p>
		</div>		
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.ADDRESS</b></h6>
			<p>{{address || ('NOT_AVAILABLE' | translate)}}</p>
		</div>		
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.PERSON</b></h6>
			<p>{{person || ('NOT_AVAILABLE' | translate)}}</p>
		</div>		
		<div class="ui-g-12">
			<h6><b translate>ORGANIZATION_DETAIL.EMAIL</b></h6>
			<p>{{email || ('NOT_AVAILABLE' | translate)}}</p>
		</div>
		<div class="ui-g-12"></div>
	</div>
	<p-dataTable [value]="datasets" [responsive]="true" (onSort)="setOrder($event)"#dt>
		<p-column field="name" header="{{numDatasets}} {{ 'ORGANIZATION_DETAIL.FOUND_DATASETS' | translate }}" sortable="custom" sortFunction="setOrder($event)">
			<ng-template pTemplate="body" let-dataset="rowData">
				<a routerLink='{{routerLinkDataCatalogDataset}}/{{dataset.name}}' (click)="showDataset(dataset)">
					  {{dataset.title}}
				  </a>
			</ng-template>
		</p-column>
		<p-column field="accesos" header="{{ 'ORGANIZATION_DETAIL.TRACKING' | translate }}" [style]="{'width':'160px'}" sortable="custom" sortFunction="setOrder($event)">
			<ng-template pTemplate="body"  let-dataset="rowData">
				{{dataset.tracking_summary.total}}
			</ng-template>
		</p-column>
		<p-column field="lastUpdate" header="{{ 'ORGANIZATION_DETAIL.LAST_UPDATE' | translate }}" [style]="{'width':'220px'}" sortable="custom" sortFunction="setOrder($event)">
			<ng-template pTemplate="body" let-dataset="rowData">
				{{dataset.metadata_modified | date: 'dd/MM/yyyy'}}
			</ng-template>
		</p-column>
	</p-dataTable>
	
	<!-- <p-paginator rows="{{pageRows}}" totalRecords="{{numDatasets}}" (onPageChange)="paginate($event)"></p-paginator> -->
	<div class="nota">
		<p>
			<i class="fa fa-star" id="informacion_content_3_i" style="color: #5ea2ba;"></i> {{ 'LAST_DAYS_HITS' | translate:param
			}}
		</p>
	</div>
</div>