.container{
    margin-top: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 300;
    width: 80%;
    text-align: justify; 
    }

b {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 700; 
}

>>> th {
    background: #5ea2ba !important;
    color: white !important;
}

>>> .ui-datatable-data > tr > td {
    border: none !important;
    border-bottom: 2px solid #5ea2ba !important;
}

>>> .ui-datatable-data > tr:hover {
    background-color: 	rgba(94, 162, 186, 0.1) !important;
}

>>> .ui-widget-content {
    border: none !important;
}

a { 
	text-align:left;
	/*color:#4F7589 !important;*/
	color:#3b515c !important;
	text-decoration: none;
	outline:0;
	letter-spacing: 1px;
	font-weight: bold;
}

a:hover { 
	text-align:left;
	color:#000000 !important;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}

.pagination {
    margin-top: 5px;
}

.page-item.active .page-link {
    background-color: #5ea2ba;
    border-color: #5ea2ba;
}

.page-item.disabled .page-link {
    background: #ddd !important;
    border-color: #cecccc;
}