.container{
    margin-top: 20vh;
    max-width: 80vw;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    color: #5ea2ba !important;
    font-family: 'RobotoLight', sans-serif;
}

p {
    font-family: 'RobotoLight', sans-serif;
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    width: 80%;
    text-align: justify; 
    }

b {
    line-height: 1;
    margin: 2px 0 20px;
    letter-spacing: 0.1em;
    font-weight: 700; 
    color: #5ea2ba !important;
}

th {
    background: #5ea2ba !important;
    color: white !important;
}

.ui-datatable-data > tr > td {
    border: none !important;
    border-bottom: 2px solid #5ea2ba !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-datatable-data > tr:hover {
    background-color: 	rgba(94, 162, 186, 0.1) !important;
}

.ui-widget-content {
    border: none !important;
}

.ui-datatable a {
    text-align:left;
	color:#3b515c !important;
	text-decoration: none;
	outline:0;
	letter-spacing: 1px;
}

.ui-datatable a:hover {
    color: #000 !important;
    text-decoration: none;
}

p > a { 
	text-align:left;
	color:#3b515c !important;
	text-decoration: none;
	outline:0;
	letter-spacing: 1px;
}

p > a:hover { 
	text-align:left;
	color:#000000 !important;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}

.pagination {
    margin-top: 5px;
}

.page-item.active .page-link {
    background-color: #5ea2ba;
    border-color: #5ea2ba;
}

.page-item.disabled .page-link {
    background: #ddd !important;
    border-color: #cecccc;
}

.tags {
	border: 1px solid #7391a5 !important;
	padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;
	color: #3b515c !important;
	background-color: #FFFFFF !important;
	text-decoration: none  !important;
    font-weight: bold;
}

.tags:hover {
	border: 1px solid #7391a5 !important;
	padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;
	background-color: #3b515c !important;
	color: #FFFFFF !important;
	text-decoration: none  !important;
	font-weight: bold;
}

.page-item a {
    color: #3b515c!important;
}

.page-item a:hover {
    color: #000!important;
    cursor: pointer;
}

.social{
    margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 10vh;
    }
    h1 {
        font-size: 4vh;
    }
}