<div class="container">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
              QUÉ ES OPEN DATA
          </h5>
        </div>
      </a>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block" style="text-align: justify;">
          <p>
            Open Data es una iniciativa a nivel global que persigue que los datos y la información, especialmente la que poseen las administraciones 
            públicas, estén disponibles para el conjunto de los ciudadanos. La publicación de la información se realiza además de forma abierta y 
            reutilizable, de forma que tanto ciudadanos como empresas puedan utilizarla para su consulta, para enriquecerla con nuevos datos o 
            para generar aplicaciones y servicios con ella.
          </p>
          <p>
            Tras la filosofía de Datos Abiertos se encuentra también la necesidad de dotar de mayor transparencia al conjunto de las Administraciones 
            Públicas y por eso esta iniciativa está ligada a las políticas de Gobierno Abierto. De esta manera, la publicación de los datos que 
            "poseen las Administraciones en formatos abiertos es la mejor forma de generar confianza en las instituciones, gracias tanto a la 
            "transparencia que esto aporta al sistema", como a la exposición pública del trabajo en el que se invierten los recursos públicos.
          </p>
          <p>
            La filosofía de trabajo Open Data se está convirtiendo en una realidad de forma acelerada. Aunque los principios sobre los que se 
            asienta no son novedosos, el desarrollo de la informática y las TIC ha permitido la explosión de los datos gracias a la reducción de 
            costes y de tiempos en su publicación y sociabilización, por eso la apertura de datos está alcanzando tal atención e importancia en estos momentos.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
              REUTILIZACIÓN DE LA INFORMACIÓN DEL SECTOR PÚBLICO
          </h5>
        </div>
      </a>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block" style="text-align: justify;">
          <p>
            La reutilización de la información es un objetivo fundamental de las políticas de Open Data. La información del sector 
            público constituye una materia prima importante para diversos productos y servicios de contenidos digitales. 
            Por sus funciones, la administración pública posee datos de numerosos sectores productivos y temáticas, así se 
            recopilan informaciones educativas, económicas, medio ambientales, turísticas, etc. que poseen un indudable interés 
            más allá de su propio uso administrativo. Por ello, la apertura de los datos del sector público aporta valor a la información 
            por los sucesivos usos que se le puede dar. Estas razones suponen que la información es un nuevo motor de desarrollo económico 
            y social y su reutilización es un paso más en la implantación de la sociedad de la información y del conocimiento.
          </p>
          <p>
            Además, la igualdad en el acceso a la información y la posibilidad de la reutilización hacen que esta se constituya como el 
            elemento que impide el falseamiento de la competencia. Por eso, la mera posibilidad de acceder a la reutilización consigue 
            mejorar la eficiencia en los mercados de información, lo que permite a los consumidores gozar de servicios más justos.
          </p>
          <p>
            La reutilización de los datos, además de como una oportunidad económica para las empresas que explotan la información, 
            se convierte también en palanca para otras mejoras sociales. Se podría hablar así, por ejemplo, del periodismo de datos, 
            que estructura sus historias alrededor de los datos; de la posibilidad de desarrollar nuevas herramientas para acceder al 
            conocimiento, que democratizan la información entre todos los ciudadanos; o de las nuevas técnicas de visualización de datos, 
            que permiten hacer más clara y comprensible la información que se ofrece.
          </p>
          <p>
            Se puede encontrar documentación adicional sobre reutilización de la información del sector público en algunos informes 
            y estudios ya publicados como "Reutilización de información pública y privada en España: Avance de situación para agentes 
            públicos y privados. Una oportunidad para los negocios y el empleo." o "Estudio de caracterización del sector infomediario 2012."
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
              BUENAS PRÁCTICAS
          </h5>
        </div>
      </a>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block" style="text-align: justify;">
          <p>
            Dentro del mundo de Internet, el World Wide Web Consortium (W3C) es el organismo que se encarga de velar por el desarrollo 
            de estándares abiertos, libres e interoperables que aseguren el crecimiento de la Web a largo plazo. Esta organización ha 
            realizado una guía de publicación con pautas sobre cómo han de publicar datos los gobiernos. Estas pautas para la publicación 
            de los datos, tanto técnicas como de planificación, han sido seguidas para la elaboración del catálogo de Aragón Open Data. 
            Igualmente existen otras iniciativas generadoras de manuales de buenas prácticas o de concienciación alrededor de los datos 
            abiertos como las aportadas por ejemplo por la Sunlight Foundation o por la Open Knowledge Foundation.
          </p>
          <p>
            Además, dentro del ámbito estatal, la “Comunidad Open Data – RISP España” está trabajando en la sensibilización hacia las 
            políticas de Open Data y ha generado algunos documentos de interés. Entre ellos destaca el Decálogo Open Data, que es un resumen 
            de buenas prácticas a la hora de afrontar políticas Open Data y que a continuación se transcribe:
          </p>
        </div>
      </div>
    </div>
  </div>
</div>