<div class="container">
	<h1>Temas</h1>
	<div class="ui-g">
		<div class="ui-sm-12 ui-md-6 ui-lg-4 tarjetaContainer" *ngFor="let topic of topics; let i = index" (mouseenter)="setHover(topic.title, i)" (mouseleave)="unsetHover(topic.title, i)">
			<div class="card" routerLink="/{{routerLinkDataTopics}}/{{topic.name}}" ng-init="selectedTopic = topic.name" (click)="setTopic(topic)">
				<img class="card-img-top" src="{{assetsUrl}}/{{topic.image_url}}" alt="{{topic.title | uppercase}}" width="fit-content" height="fit-content">
				<div class="card-block">
					<p>{{topic.title}}</p>
				</div>
				<div *ngIf="hovers[i].hover" class="detail">
					<h6>{{topic.title | uppercase}}</h6>
					<p class="description">{{topic.description}}</p>
					<div class="numDatasets">
						<b>{{topic.packages}} conjuntos de datos publicados</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>