<div style="padding: 10px;">
    <p-fieldset legend="Añadir elemento">
        <div class="ui-g-6">
            <div class="ui-g-6">
                <label>Título:</label><br/>
                <input type="text" pInputText />
            </div>
            <div class="ui-g-6">
                <label>Url:</label><br/>
                <input type="text" pInputText />
            </div>
            <div class="ui-g-6">
                <label>Tipo:</label><br/>
                <p-dropdown [options]="tipos" [(ngModel)]="tipoSeleccionado"></p-dropdown>
            </div>
            <div class="ui-g-6">
                <label>Etiqueta:</label><br/>
                <p-dropdown [options]="etiquetas" [(ngModel)]="etiquetaSeleccionada"></p-dropdown>
            </div>
            <div class="ui-g-6">
                <label>Formato:</label><br/>
                <p-dropdown [options]="formatos" [(ngModel)]="formatoSeleccionado"></p-dropdown>
            </div>
            <div class="ui-g-6">
                <label>Evento:</label><br/>
                <p-dropdown [options]="eventos" [(ngModel)]="eventoSeleccionado"></p-dropdown>
            </div>
            <div class="ui-g-12">
                <label>Ponente:</label><br/>
                <p-dropdown [options]="ponentes" [(ngModel)]="ponenteSeleccionado"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-6">
            <label>Descripción:</label><br/>
            <textarea rows="5" cols="70" pInputTextarea></textarea>

            <div class="ui-g-12">
                <div style="text-align: right; padding-top: 100px">
                    <button pButton type="button" label="Añadir"></button>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>
<div style="padding: 10px;">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <p-dataTable [value]="elementos" [paginator]="true" [rows]="10" [globalFilter]="gb" #dt>
        <p-column field="titulo" [sortable]="true" header="Titulo"></p-column>
        <p-column field="tipos" [sortable]="true"  header="Tipos" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="tipos" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="etiquetas" [sortable]="true" header="Etiquetas" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="etiquetas" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="eventos" [sortable]="true" header="Eventos" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="eventos" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="formatos" [sortable]="true" header="Formatos" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="formatos" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="ponentes" [sortable]="true" header="Ponentes" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
            <ng-template pTemplate="filter" let-col>
                <p-dropdown [options]="ponentes" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column header="Edición" [style]="{'width':'100px'}">
            <ng-template pTemplate="body" let-col>
                <button pButton type="button" icon="fa-edit"></button>
                <button pButton type="button" icon="fa-trash"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>