<div>
	<p-messages closable="true" label="Administración de usuarios" [(value)]="userAdminMessages"></p-messages>
	<p-growl sticky="true" life="2000" [(value)]="userAdminMessages"></p-growl>
	
	<p-dataTable [loading]="loading" [value]="users" [responsive]="true" emptyMessage="No se han encontrado registros." (onSort)="setOrder($event)" [rows]="pageRows" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
		<p-column field="fullname" [style]="{'width':'25%'}" header="Nombre" sortable="custom" [sortable]="true"></p-column>
		<p-column field="email" [style]="{'width':'25%'}" header="Email" sortable="custom" [sortable]="true"></p-column>
		<p-column field="role" [style]="{'width':'15%'}" header="Rol" sortable="custom" [sortable]="true">
			<ng-template pTemplate="body" let-user="rowData">
				<p *ngFor="let rol of user.role">
					{{rol?.description}}
				</p>
			</ng-template>
		</p-column>
		<p-column field="signupDate" [style]="{'width':'14%'}" header="Fecha alta" sortable="custom">
			<ng-template pTemplate="body" let-user="rowData">
					{{user.signupDate | date:'dd/MM/yyyy HH:mm:ss'}}
			</ng-template>
		</p-column>
		<p-column field="active" [style]="{'width':'9%'}" header="Activo" sortable="custom">
			<ng-template pTemplate="body" let-usuario="rowData">
				<span *ngIf="user.active">Sí</span>
				<span *ngIf="!user.active">No</span>
			</ng-template>
		</p-column>
		<p-column header="Edición" [style]="{'width':'12%'}">
			<ng-template pTemplate="body" let-user="rowData">
				<button pButton type="button" icon="fa-search" (click)="showDialog(user, false, false)"></button>
				<button pButton type="button" icon="fa-edit" (click)="showDialog(user, true, false)"></button>
				<button pButton type="button" icon="fa-trash" (click)="showDeleteDialog(user)"></button>
			</ng-template>
		</p-column>
		<p-footer>
			<div class="ui-helper-clearfix" style="width:100%">
				<button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog(null, false, true)" label="Nuevo usuario"></button>
			</div>
		</p-footer>
	</p-dataTable>
	<!-- DIALOG DE VISTA DE DATOS -->
	<p-dialog header="Detalle de usuario" appendTo="body" [(visible)]="displayViewDialog" [responsive]="true" showEffect="fade" [modal]="true" width="1000">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user" style="font-size:16px; padding:20px;">
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Nombre completo: </b></div>
				<div class="ui-grid-col-7"><p>{{user?.fullname}}</p></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Usuario: </b></div>
				<div class="ui-grid-col-7"><p>{{user?.name}}</p></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Email: </b></div>
				<div class="ui-grid-col-7"><p>{{user?.email}}</p></div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Rol: </b></div>
				<!-- <div class="ui-grid-col-7">
					<p *ngFor="let rol of user.role">
						{{rol?.description}}
					</p>
				</div> -->
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Fecha de alta: </b></div>
				<div class="ui-grid-col-7">{{user.signupDate | date:'dd/MM/yyyy HH:mm:ss'}}</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Activo: </b></div>
				<div class="ui-grid-col-7">
					<span *ngIf="user.active">Sí</span>
					<span *ngIf="!user.active">No</span>
				</div>
			</div>
			<div class="ui-grid-row">
				<div class="ui-grid-col-5"><b>Descripción: </b></div>
				<div class="ui-grid-col-7"><p>{{user?.description}}</p></div>
			</div>
		</div>
		<p-footer>
			<div class="ui-dialog-buttonpane ui-helper-clearfix">
				<button type="button" pButton icon="fa-edit" (click)="enableEdition()" label="Editar"></button>
			</div>
		</p-footer>
	</p-dialog>
	<p-dialog appendTo="body" header="Modificar usuario" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" modal="true">
		<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
			<div class="ui-grid-row" style="padding: 5px;">
				<div class="ui-grid-col-3"><label for="name">Nombre completo:</label></div>
				<div class="ui-grid-col-9"><input pInputText id="fullname" [(ngModel)]="user.fullname" /></div>
			</div>
			<div class="ui-grid-row" style="padding: 5px;">
				<div class="ui-grid-col-3"><label for="name">Usuario:</label></div>
				<div class="ui-grid-col-9"><input pInputText id="name" [(ngModel)]="user.name" /></div>
			</div>
			<div class="ui-grid-row" style="padding: 5px;" *ngIf="!user.id">
				<div class="ui-grid-col-3"><label for="name">Contraseña:</label></div>
				<div class="ui-grid-col-9"><input type="password" feedback="true" pPassword id="password" weakLabel="Seguridad débil" 
					mediumLabel="Seguridad media" strongLabel="Seguridad fuerte" [(ngModel)]="user.password" /></div>
			</div>
			<div class="ui-grid-row" style="padding: 5px;">
					<div class="ui-grid-col-3"><label for="email">Email:</label></div>
					<div class="ui-grid-col-9"><input pInputText id="email" [(ngModel)]="user.email" /></div>
				</div>
			<div class="ui-grid-row" style="padding: 5px;">
				<div class="ui-grid-col-3"><label>Rol:</label></div>
				<div class="ui-grid-col-9">
					<select class="form-control" [(ngModel)]="selectedRole">
						<option disabled hidden [value]="undefined">Seleccione un rol</option>
						<option *ngFor="let rol of roles" [ngValue]="rol.id">{{rol.description}}</option>
					</select>
				</div>
			</div>
			<div class="ui-grid-row" style="padding: 5px;">
				<div class="ui-grid-col-3"><label>Activo: </label></div>
				<div class="ui-grid-col-9">
					<p-inputSwitch onLabel="Sí" offLabel="No" [(ngModel)]="activatedUser"></p-inputSwitch>
				</div>
			</div>
			<div class="ui-grid-row" style="padding: 5px;">
				<div class="ui-grid-col-3"><label for="description">Descripción: </label></div>
				<div class="ui-grid-col-9">
					<textarea pInputTextarea id="description" [(ngModel)]="user.description"></textarea>
				</div>
			</div>
		</div>
		<p-footer>
			<div class="ui-dialog-buttonpane ui-helper-clearfix">
				<button type="button" pButton icon="fa-check" label="Guardar" (click)="saveUser()"></button>
			</div>
		</p-footer>
	</p-dialog>
	<!-- DELETE USER DIALOG -->
	<p-dialog header="¿Está seguro de que deasea borrar el usuario?" [(visible)]="displayDeleteDialog">
		<p>Se va a proceder a borrar el usuario <b>{{user?.fullname}}</b></p>
		<p>¿Desea continuar?</p>
			 <p-footer>
				 <button type="button" pButton icon="fa-check" (click)="deleteUser()" label="Sí"></button>
				 <button type="button" pButton icon="fa-close" (click)="undoDeleteUser()" label="No"></button>
			 </p-footer>
	</p-dialog>
</div>