<div class="container" style="padding-left: 15%; padding-right: 15%;">
  <p-dataTable [paginator]="true" [rows]="10" [value]="entries" emptyMessage="{{emptyMessage}}">
      <p-column field="title" [style]="{'width':'55%'}" header="Lista de contenidos"></p-column>
      <p-column header="edit" header="Edición" [style]="{'width':'6%', 'text-align': 'center'}">
          <ng-template pTemplate="body" let-entry="rowData">
              <button class="btn btn-primary p-2" type="button" (click)="showDialog(entry)" data-toggle="tooltip" data-placement="top"
                  title="Editar">
                  <i class="fa fa-edit"></i>
              </button>
          </ng-template>
      </p-column>
      <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
              <button class="btn btn-primary" type="button" icon="fa-plus" (click)="addContent()" style="float:left">
                  <i class="fa fa-plus"></i> Añade una entrada nueva
              </button>
          </div>
      </p-footer>
  </p-dataTable>
</div>
<p-dialog [width]="900" [(visible)]="display">
  <p-header>{{selectedEntry ? selectedEntry.title : 'Nueva entrada'}}</p-header>
  <div class="container">
      <div class="container">
          <div class="form-group row">
              <label class="col-3 col-form-label">Nombre de la entrada</label>
              <div class="col-9">
                  <input class="form-control" type="text" value="{{selectedEntry.title}}" id="name" [(ngModel)]="selectedEntry.title">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-3 col-form-label">Descripción</label>
              <div class="col-9">
                  <textarea style="width: 100%; height: 100px;" type="text" value="{{selectedEntry.description}}" id="desc" [(ngModel)]="selectedEntry.description"></textarea>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-3 col-form-label">Etiquetas y palabras clave</label>
              <div class="col-9">
                  <p-chips [(ngModel)]="topics"></p-chips>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-4 col-form-label">Evento</label>
              <div class="col-8">
                  <select class="form-control" [(ngModel)]="selectedEntry.event">
                      <option *ngFor="let event of events" [ngValue]="event.id" >{{event.name}}</option>
                  </select>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-4 col-form-label">Ponente</label>
              <div class="col-8">
                  <select class="form-control" [(ngModel)]="selectedEntry.speaker_id">
                      <option *ngFor="let speaker of speakers" [ngValue]="speaker.id" >{{speaker.name}}</option>
                  </select>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-4 col-form-label">Miniatura</label>
              <div class="col-4">
                  <img class="media-object" [src]='sanitizer.bypassSecurityTrustResourceUrl("data:image/png;base64,"+selectedEntry.thumbnail)' style="width: 150px;margin-right: 15px;">
              </div>
          </div>
      </div>
  </div>
  <p-footer>
      <button type="button" pButton icon="fa-floppy-o" (click)="save();" label="Guardar"></button>
      <button type="button" pButton icon="fa-times" style="background-color: red; border-color: red;" (click)="cancel();" label="Cancelar"></button>
  </p-footer>
</p-dialog>