<div class="container" style="padding-left: 15%; padding-right: 15%;">
    <p-dataTable [paginator]="true" [rows]="10" [value]="events" emptyMessage="{{emptyMessage}}">
        <p-column field="name" [style]="{'width':'55%'}" header="Lista de eventos"></p-column>
        <p-column header="edit" header="Edición" [style]="{'width':'6%', 'text-align': 'center'}">
            <ng-template pTemplate="body" let-event="rowData">
                <button class="btn btn-primary p-2" type="button" (click)="showDialog(event)" data-toggle="tooltip" data-placement="top"
                    title="Editar">
                    <i class="fa fa-edit"></i>
                </button>
            </ng-template>
        </p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button class="btn btn-primary" type="button" icon="fa-plus" (click)="addEvent()" style="float:left">
                    <i class="fa fa-plus"></i> Añade un evento nuevo
                </button>
            </div>
        </p-footer>
    </p-dataTable>
</div>
<p-dialog [width]="900" [(visible)]="display">
    <p-header>{{eventSelected ? eventSelected.name : 'Nuevo evento'}}</p-header>
    <div class="container">
        <div class="form-group row">
            <label class="col-4 col-form-label">Nombre del evento</label>
            <div class="col-8">
                <input class="form-control" type="text" value="{{eventSelected.name}}" id="name" [(ngModel)]="eventSelected.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Descripción</label>
            <div class="col-8">
                <textarea style="width: 100%; height: 100px;" type="text" value="{{eventSelected.description}}" id="desc" [(ngModel)]="eventSelected.description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Localización del evento</label>
            <div class="col-4">
                <p-autoComplete #auto [(ngModel)]="eventSelected.site" [suggestions]="filteredSites" (completeMethod)="filterSites($event)"
                    [minLength]="1" placeholder="Localización" field="name" [dropdown]="true" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '1000'}">
                </p-autoComplete>
            </div>
            <div class="col-4">
                <button pButton type="button" icon="fa-plus" (click)="confirm()" label="Añadir nueva localización"></button>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Fecha del evento</label>
            <div class="col-8">
                <p-calendar [inline]="true" [yearNavigator]="true" yearRange="1900:2100" [(ngModel)]="eventSelected.date" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-floppy-o" (click)="save(eventSelected);" label="Guardar"></button>
        <button type="button" pButton icon="fa-times" style="background-color: red; border-color: red;" (click)="cancel($event);"
            label="Cancelar"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>