.container {
    margin-top: 20vh;
    max-width: 80vw;
}

.card {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(94,162,186,0.28);
    margin-bottom: 0px; 
}

.app {
    padding-top: 30px;
    padding-bottom: 30px;
}

.textContent /deep/ .app_img {
    float: left;
}

.textContent /deep/ .app_info {
    padding-left: 130px;
}

p {
    margin: 0 0 0.75em;
}

.textContent /deep/ img {
    margin: 0;
    max-width: 100%;
}

.textContent /deep/ a {
    display: inline-block;
    color: #5ea2ba;
}
.textContent /deep/ a:hover {
    color:#000000;
    text-decoration:none;
}

.textContent /deep/ a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: all .3s ease;
    border-bottom: 1px solid #5ea2ba;
    padding-top: 1px;
}

.textContent /deep/ a:hover:after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 10vh;
    }
    h1 {
        font-size: 4vh;
    }
    h3 {
        font-size: 3vh;
    }
}