h1, h2, h3, h4, h5 { 
    font-family: 'Roboto', sans-serif; 
    line-height: 1; 
    margin: 2px 0 20px; 
    letter-spacing: 0.1em; 
    color: #5ea2ba; 
    font-weight: 300; 
} 
 
.container { 
    padding-top: 15%; 
} 
 
.huecoInicioPagina { 
    padding-top: 30px; 
    clear: both; 
} 
 
.separadorContenidoPagina { 
    border-bottom: 1px solid #e5e5e3; 
    clear: both; 
} 
 
.clear { 
    clear: both; 
    font-size:1px; 
    padding: 0; 
    margin: 0; 
} 
 
.pagina { 
  max-width: 980px;  
  min-width: 320px;  
  width: 100%; 
  margin: auto; 
  padding-right: 0px; 
} 
 
.huecoInicioPagina { 
    padding-top: 30px;  
    clear: both; 
} 
 
.azul { 
    color: #76a1b8; 
} 
 
.huecoSeccionHome { 
    padding-top: 60px; 
    clear: both; 
} 
 
.textosNormales { 
  font-family: 'aodTextos', 'Roboto' !important; 
  font-size: 14px !important; 
  text-align: justify !important; 
  line-height: 21px !important; 
} 
 
.textosNormales b { 
  color: #76A1B8 !important; 
} 
 
.textosNormales .recuadroRedondeado { 
  font-size: 14px !important; 
  text-align: left; 
  color: #FFF !important; 
  text-decoration: none; 
  outline: 0; 
  letter-spacing: 1px; 
  font-weight: bold; 
} 
 
.textosNormales a { 
  font-size: 14px !important; 
  text-align: left; 
  color: #3b515c !important; 
  text-decoration: none; 
  outline: 0; 
  letter-spacing: 1px; 
  font-weight: bold; 
  word-wrap: break-word; 
} 
 
.textosNormales a:hover { 
  font-size: 14px !important; 
  color: #000 !important; 
} 
 
.textosNormales a.recuadroNoResaltado:hover { 
  color: #FFF !important; 
}