
<link href="https://cdn.jsdelivr.net/npm/yasgui@2.7.19/dist/yasgui.min.css" rel="stylesheet" type="text/css">
<!--<link href='https://cdn.jsdelivr.net/npm/yasgui-yasqe@2.11.10/dist/yasqe.min.css' rel='stylesheet' type='text/css'/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/codemirror.min.css" rel="stylesheet" type='text/css'/>
<link href='https://cdn.jsdelivr.net/npm/yasgui-yasr@2.10.8/dist/yasr.min.css' rel='stylesheet' type='text/css'/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.0/theme/icecoder.min.css" rel="stylesheet" type='text/css'/>-->
<h1 id="title" class="azul i_i">Punto SPARQL</h1>
<div id="yasgui"></div>
<!--<div id="yasqe"></div>-->
<!--<div id="yasr"></div>-->