.marginsup{
    margin-top: 12%;
}

a { 
	text-align:left;
	/*color:#4F7589 !important;*/
	color:#3b515c !important;
	text-decoration: none;
	outline:0;
	letter-spacing: 1px;
	font-weight: bold;
}

a:hover { 
	text-align:left;
	color:#000000 !important;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}

a.btn.btn-primary{
    color: #fff !important;
    background-color: #5ea1b9;
    border-color: #86b9cb;
}
.media{
	margin-top: 10px;
	text-align: justify;
}
.card-title{
	margin:10px 0px 20px 0px;
}
.my-4 {
    margin-top: 0px !important;
    
}

.page-item.active .page-link {
    background-color: #5ea2ba;
    border-color: #5ea2ba;
}

.page-item.disabled .page-link {
    background: #ddd !important;
    border-color: #cecccc;
}

