<footer id="mainFooter" class="site-footer">
	<article class="footerMid">
		<div class="col-md-4 threeCol">
			<div class="titleFooter">AVISO LEGAL</div>
			<div class="threeCol_child">
				<a href="/terminos">TERMINOS DE USO</a>
			</div>
			<div class="eur-logo">
				<div class="img-eur-logo"></div>
				<img src="../../../../assets/footer/flag-europe.jpg" style="padding-left: 5px;">
				<div class="txt-eur-logo"></div>
				<div class="normal-txt-eur">union europea</div>
				<div class="normal-txt-eur">fondo europeo de desarrollo regional (feder)</div>
				<div class="italic-txt-eur">"Construyendo Europa desde Aragón"</div>
			</div>
			<div class="cc-logo">
				<div class="imgn"></div>
				<img src="../../../../assets/footer/cc.png" width="100px">
				<div class="txt-cc-logo">
					<span>
						Los contenidos del portal están sujetos a licencia creative commons reconocimiento 4.0 salvo que se indique lo contrario
					</span>
				</div>
			</div>
		</div>

		<div class="col-md-4 threeCol">
			<div class="titleFooter">CONTENIDO DESTACADO</div>
			<ul>
				<li><a href="/datos">BANCO DE DATOS</a></li>
				<li><a href="/servicios/aragopedia">ARAGOPEDIA</a></li>
				<li><a href="/servicios/open-social-data#/main">OPEN SOCIAL DATA</a></li>
				<li><a href="/info/colabora">COLABORA</a></li>
				<li><a href="/info/aplicaciones">APLICACIONES</a></li>
				<li><a href="/info/open-data">INFO OPEN DATA</a></li>
			</ul>
		</div>

		<div class="col-md-4 threeCol logos_div">
			<div class="titleFooter">POWERED BY</div>
			<ul class="logos">
				<li>
					<a class="ckan" href="http://ckan.org/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoCKAN.jpg">
          </a>
				</li>
				<li>
					<a class="mediawiki" href="http://mediawiki.org/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoMediaWiki.jpg">
          </a>
				</li>
				<li>
					<a class="virtuoso" href="http://virtuoso.openlinksw.com/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoVirtuoso.jpg">
          </a>
				</li>
				<li>
					<a class="elda" href="http://epimorphics.github.io/elda/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoElda.jpg">
          </a>
				</li>
				<li>
					<a class="swagger" href="http://swagger.io/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoSwagger.jpg">
          </a>
				</li>
				<li>
					<a class="angular" href="https://www.dartlang.org/" target="_blank">
            <img src="../../../../assets/footer/cajaLogoDart.jpg">
          </a>
				</li>
				<li>
					<a class="node" href="https://webdev.dartlang.org/angular" target="_blank">
            <img src="../../../../assets/footer/cajaLogoAngularDart.jpg">
          </a>
				</li>
			</ul>
		</div>
	</article>
	<article class="gob">
		<div class="twoCol">
			<img src="../../../../assets/footer/logo-aragob-blanco.png" width="150px">
			<div class="gobText">
				Gobierno de Aragón - Edificio Pignatelli - Paseo María Agustín, 36, 50071 - Zaragoza - Tel 976714000
			</div>
		</div>
		<div class="social-nw">
			<div class="socialNetworkIcon">
				<a class="facebook" href="https://www.facebook.com/observatorio.aragones">
            <i class="fa fa-facebook-official"></i>
          </a>
			</div>
			<div class="socialNetworkIcon">
				<a class="twitter" href="https://www.twitter.com/oasi">
            <i class="fa fa-twitter"></i>
          </a>
			</div>
			<div class="socialNetworkIcon">
				<a class="youtube" href="https://www.youtube.com/watch?v=8d409yteTJM&amp;list=PLQ3k0vA0UZvhBVOz_mCq-9Wyn3VCB6QCe">
            <i class="fa fa-youtube-play"></i>
          </a>
			</div>
			<div class="socialNetworkIcon">
				<a class="mail" href="mailto:opendata@aragon.es">
            <i class="fa fa-envelope-o"><span>AOD</span></i>
          </a>
			</div>
		</div>
	</article>
</footer>