.container{
    margin-top: 13%;
}
p {
    margin: 3px;
    text-align: justify;
}

a { 
	text-align:left;
	/*color:#4F7589 !important;*/
	color:#3b515c !important;
	text-decoration: none;
	outline:0;
	letter-spacing: 1px;
	font-weight: bold;
}

a:hover { 
	text-align:left;
	color:#000000 !important;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}

.content {
    padding-bottom: 3%;
}

.title, .container-fluid {
    border: solid 2px #5ea2ba;
}

.title h5{
    font-weight: 500;
    margin: 3px;
}

.container-fluid {
    border-top: none;
    padding: 1%;
}

.container-fluid h6 {
    margin: 3px;
    font-weight: 500;
}

.recomend {
    padding-top: 3%;
}

.recomend .container-fluid {
    border: none;
}


.section {
    margin-bottom: 3%;
}

.card {
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-header {
    padding: 1%;
    cursor: pointer;
    background: transparent;
    border: solid 2px #5ea2ba;
}

.card-block {
    border: solid 2px #5ea2ba;
    border-top: none;
}

.card img {
    margin: 0 auto;
    max-width: 70%;
}

.recommendedCard {
    text-align: center;
    background-color: #EAF1F5;
    cursor: pointer;
}

.recommendedCard img {
    padding-top: 10px;
    max-width: 40%;
}

.recommendedCard p {
    text-align: center;
    text-transform: uppercase;
    color:#76A1B8;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
}

.recommended-card-block {
    background-color: #76A1B8;
    height: 80px;
    margin-top: 5px;
}

.recommended-card-block p {
    text-align: left !important;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    padding-top: 7px;
}

.textosNormales a {
    font-size: 14px !important;
    text-align: left;
    color: #3b515c !important;
    text-decoration: none;
    outline: 0;
    letter-spacing: 1px;
    font-weight: bold;
    word-wrap: break-word;
}

.tags {
	border: 1px solid #7391a5;
	padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;
	color: #3b515c !important;
	background-color: #FFFFFF;
	text-decoration: none  !important;
	font-weight: bold;
}

.tags:hover {
	border: 1px solid #7391a5 !important;
	padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px;
	background-color: #3b515c !important;
	color: #FFFFFF !important;
	text-decoration: none  !important;
	font-weight: bold;
}

.tagsHomer {
    border: 1px solid #7391a5;
	padding: 10px;
	color: #3b515c !important;
	background-color: #FFFFFF;
	text-decoration: none  !important;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px;
}

.horizontalFormat {
    float: left;
}

.detail {
    background: rgba(235,241,244, 0.95);
    /*position: absolute;
    width: 100%;
    height: 100%;*/
    padding: 10px;
}